@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 224 71% 4%;
    --card: 0 0% 100%;
    --card-foreground: 224 71% 4%;
    --popover: 0 0% 100%;
    --popover-foreground: 224 71% 4%;
    --primary: 45 95% 51%;
    --primary-foreground: 224 71% 4%;
    --secondary: 240 5% 96%;
    --secondary-foreground: 224 71% 4%;
    --muted: 240 5% 96%;
    --muted-foreground: 240 4% 46%;
    --accent: 240 5% 96%;
    --accent-foreground: 224 71% 4%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 6% 90%;
    --input: 240 6% 90%;
    --ring: 45 95% 51%;
    --radius: 0rem;
    --chart-1: 142 71% 45%;
    --chart-2: 45 100% 51%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --sidebar-background: 222 47% 11%;
    --sidebar-foreground: 210 40% 98%;
    --sidebar-primary: 45 95% 51%;
    --sidebar-primary-foreground: 224 71% 4%;
    --sidebar-accent: 215 28% 17%;
    --sidebar-accent-foreground: 210 40% 98%;
    --sidebar-border: 215 28% 17%;
    --sidebar-ring: 45 95% 51%;
    --price: 224 71% 4%;
  }

  .dark {
    --background: 220 13% 11%;
    --foreground: 210 40% 98%;
    --card: 220 13% 18%;
    --card-foreground: 210 40% 98%;
    --popover: 220 13% 11%;
    --popover-foreground: 210 40% 98%;
    --primary: 45 95% 51%;
    --primary-foreground: 224 71% 4%;
    --secondary: 220 13% 18%;
    --secondary-foreground: 210 40% 98%;
    --muted: 220 13% 25%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 220 13% 30%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 72% 51%;
    --destructive-foreground: 210 40% 98%;
    --border: 220 13% 25%;
    --input: 220 13% 25%;
    --ring: 45 95% 51%;
    --radius: 0rem;
    --chart-1: 142 71% 45%;
    --chart-2: 45 100% 51%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --sidebar-background: 220 13% 9%;
    --sidebar-foreground: 210 40% 98%;
    --sidebar-primary: 45 95% 51%;
    --sidebar-primary-foreground: 224 71% 4%;
    --sidebar-accent: 220 13% 25%;
    --sidebar-accent-foreground: 210 40% 98%;
    --sidebar-border: 220 13% 25%;
    --sidebar-ring: 45 95% 51%;
    --price: 210 10% 92%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
